<div class="login" ng-controller = "userProfileController">

		<div class="container">

			<div class="panel panel-default">
 			<div class="panel-body" style="padding:30px; background:#ffffff">
			<div class = "row" style="margin-top:15px">
			{{books}}
				
			<!-- 	<table class="table table-default" ng-show="searchResults.length > 0"> -->
				<table class="table table-stripped" >
					<tr>
						<th></th>
						<th>Author</th>
						<th>Title</th>
						<th>Checkout Date</th>
						<th>Due Date</th>
						<th></th>
					</tr>
					
					<tr ng-repeat="x in books">
						<td ><input type="checkbox" ng-model="x.selection"> </td>
						<td>{{x.author}}</td>
						<td>{{x.title}}</td>
						<td>{{x.checkoutDate}}</td>
						<td>{{x.dueDate}}</td>
					</tr>
				</table>
				<div>
				<button class="btn btn-primary btn-block" ng-click="renewSelectedBooks()">Renew</button>
				<button class="btn btn-primary btn-block" ng-click="returnSelectedBooks()">Return</button>
				</div>
			</div>
			</div>
			</div>
		</div>
	</div>